<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ecommerciandroiapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logoapp"
        android:label="BookStore"
        android:roundIcon="@mipmap/logoapp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".BookAllActivity"></activity>
        <activity android:name=".AuthorActivity" />
        <activity android:name=".ViewAllActivity" />
        <activity android:name=".MyAddressActivity" />
        <activity android:name=".AddAdressActivity" />
        <activity android:name=".DeliveryActivity" />
        <activity android:name=".OrderDetailActivity" />
        <activity android:name=".BookDetailActivity" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".CategoryActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/IntroTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>